{% extends 'components/layout.html'%}

{% block title %} Home {% endblock %}

{% block content %}
<!-- bestsellers start-->
<div class="row">
  <div class="carousel" data-flickity='{ "groupCells": true, "wrapAround": true, "autoPlay": true, "imagesLoaded":true}'>
    {% for i in best_s %}
    <div class="carousel-cell">
      <a href="{{i.amazon_product_url}}" target="_blank">
        <img src={{i.book_image}} class="img-thumbnail d-block" height="10px">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
 <!-- bestsellers end-->

  <div class="row">
    <h3>Login to start! </h3>
    <a href="{{ url_for('auth.signin') }}">Let's Start</a>
  </div>
   
{% endblock %}